<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first Django App</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header><h1>Welcome to the polls app! It's header that common for all pages for now, 
        just like example of templates extending
    </h1></header>

    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>